Package: rustyrig-client-dbgsym
Source: rustyrig-fw
Version: 20260920.04
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Pripyat Automations <dangerousdevices@istabpeople.com>
Installed-Size: 307
Depends: rustyrig-client (= 20260920.04)
Section: debug
Priority: optional
Description: debug symbols for rustyrig-client
Build-Ids: ddc818c17a388891a20143472b723b2bd3bed43e
