Package: rustyrig-client-dbgsym
Source: rustyrig-fw
Version: 20260920.05
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Pripyat Automations <dangerousdevices@istabpeople.com>
Installed-Size: 307
Depends: rustyrig-client (= 20260920.05)
Section: debug
Priority: optional
Description: debug symbols for rustyrig-client
Build-Ids: 03cb3f4b3e98cd2701f983a08babb680260b007d
