Package: rustyrig-server
Source: rustyrig-fw
Version: 20260920.03
Architecture: amd64
Maintainer: Pripyat Automations <dangerousdevices@istabpeople.com>
Installed-Size: 16917
Depends: librrprotocol (= 20260920.03), libfwdspmgr (= 20260920.03), librustyaxe (= 20260920.03), libc6 (>= 2.38), libsqlite3-0 (>= 3.5.9)
Section: hamradio
Priority: optional
Homepage: https://github.com/PripyatAutomations/rustyrig-fw
Description: RustyRig server
 Backend server for remote radio operation.
