# local junk (dead code / snippets) not intended for distribution
junk/*
junk/*/*

# auditing
audit-logs/cppcheck.report.txt

# logs
testbuild.log
firmware.log

# build artifacts
build/*
build/


# exported images
images/*
images

# build artifacts
build/*/*
build/*/*.*
build/*/obj/*

# user database & certs
db/*
config/*.pem
config/*.secret
config/http.users
config/http.users.*

# Archived configs
config/archive/*.json

rrcli/build/*
rrcli/build/*/*
rrcli/build/*/*.*
rrcli/build/*/obj/*

# run-time state and audio recordings
state/*.pipe
state/*.log
state/*.tmp
run/* run/*/*
recordings/*.*
