.env

# Automated testing tool artifacts
compile_commands.json
*/compile_commands.json
*/*/compile_commands.json
audit-logs/*
audit-logs/*/*

# Built libraries
*.o
*.so
*.dll

# Built binaries
bin/*

# Build artifacts
build/*
build/*/*
build/*/obj/*
inc/autoconf.h

# Private data
config/*.crt
config/*.cert
config/*.pem
config/*.secret
config/http.users

# Archived (backup) configurations
config/archive/*

# contact database
db/*

# Built firmware images
images/*

# Unsorted crap developers are staging for import
junk/*
junk/*/*

# Run-time state
run/*
run/*/*

# Audio
recordings/*

# Log files
rrserver.log
rrclient.log
fwdsp.*.log
fwdsp.log
fwdspmgr.log

# core files
core.*
core
*.core
*.core.*
