Package: rustyrig-client-tui
Source: rustyrig-fw
Version: 20260921.02
Architecture: amd64
Maintainer: Pripyat Automations <dangerousdevices@istabpeople.com>
Installed-Size: 154
Depends: librrprotocol (= 20260921.02), libfwdspmgr (= 20260921.02), librustyaxe (= 20260921.02), libc6 (>= 2.38), libglib2.0-0t64 (>= 2.12.0)
Section: hamradio
Priority: optional
Homepage: https://github.com/PripyatAutomations/rustyrig-fw
Description: RustyRig terminal client
 TUI-only RustyRig client built without GTK.
