Package: librustyaxe-dbgsym
Source: rustyrig-fw
Version: 20260920.04
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Pripyat Automations <dangerousdevices@istabpeople.com>
Installed-Size: 329
Depends: librustyaxe (= 20260920.04)
Section: debug
Priority: optional
Description: debug symbols for librustyaxe
Build-Ids: a0201020a19c51828db36e1145bff28e14e9d37b
