Package: librustyaxe
Source: rustyrig-fw
Version: 20260920.04
Architecture: amd64
Maintainer: Pripyat Automations <dangerousdevices@istabpeople.com>
Installed-Size: 329
Depends: libc6 (>= 2.38), libglib2.0-0t64 (>= 2.36.0), libmbedcrypto16 (>= 3.6.0), libmbedtls21 (>= 3.6.0), libmbedx509-7 (>= 3.6.0), libtinfo6 (>= 6)
Section: hamradio
Priority: optional
Homepage: https://github.com/PripyatAutomations/rustyrig-fw
Description: RustyRig shared core library
 Shared core library used by RustyRig clients, servers, and tools.
