Package: libfwdspmgr-dev
Source: rustyrig-fw
Version: 20260921.03
Architecture: amd64
Maintainer: Pripyat Automations <dangerousdevices@istabpeople.com>
Installed-Size: 19
Depends: libfwdspmgr (= 20260921.03)
Section: hamradio
Priority: optional
Homepage: https://github.com/PripyatAutomations/rustyrig-fw
Description: Development files for libfwdspmgr
 Headers and linker files for the RustyRig DSP manager.
