Package: rrserver
Source: rustyrig-fw
Version: 20250702
Architecture: amd64
Maintainer: Pripyat Automations <dangerousdevices@istabpeople.com>
Installed-Size: 7
Section: hamradio
Priority: optional
Description: Rusty Rig Server
 The reference implementation of rustyrig server in C.
