Package: libfwdspmgr-dbgsym
Source: rustyrig-fw
Version: 20260920.03
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Pripyat Automations <dangerousdevices@istabpeople.com>
Installed-Size: 41
Depends: libfwdspmgr (= 20260920.03)
Section: debug
Priority: optional
Description: debug symbols for libfwdspmgr
Build-Ids: a62ccb0ce0d48260ff0165154dc8a072a8418e27
