[Desktop Entry]
Name=RustyRig Client
Comment=Remote client (WS) for rustyrig firmware
Exec=/usr/local/bin/rrclient
Icon=rustyrig
Terminal=false
Type=Application
Categories=HamRadio;
StartupNotify=true
