Package: librrprotocol-dev
Source: rustyrig-fw
Version: 20260921.02
Architecture: amd64
Maintainer: Pripyat Automations <dangerousdevices@istabpeople.com>
Installed-Size: 64
Depends: librrprotocol (= 20260921.02), librustyaxe-dev
Section: hamradio
Priority: optional
Homepage: https://github.com/PripyatAutomations/rustyrig-fw
Description: Development files for librrprotocol
 Headers and linker files for the RustyRig protocol library.
