Package: librustyaxe-dev
Source: rustyrig-fw
Version: 20260921.02
Architecture: amd64
Maintainer: Pripyat Automations <dangerousdevices@istabpeople.com>
Installed-Size: 102
Depends: librustyaxe (= 20260921.02)
Section: hamradio
Priority: optional
Homepage: https://github.com/PripyatAutomations/rustyrig-fw
Description: Development files for librustyaxe
 Headers and linker files for the RustyRig core library.
