#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	make

override_dh_auto_install:
	# install both to staging dirs
	make install DESTDIR=$(CURDIR)/debian/rrclient PREFIX=/usr CLIENT_ONLY=1
	make install DESTDIR=$(CURDIR)/debian/rrserver PREFIX=/usr SERVER_ONLY=1
