; Comments can begin with // # or ;   - We now support C style /* */ comments too
//
// most settings go in [general] setting, servers are called [server:name] where name is short name for it
//
[general]
;  audit | crit | warn | info | debug | crazy
log.level=debug
ui.show-pings=false
# If we want to autoconnect to a server, name it here.
;server.auto-connect=localhost
codecs.allowed=pc16 mu16 mu08
default.volume.rx=50
default.tx.power=50
;debug.http=true
audio.debug=*:3
audio.volume.rx=0
path.help-dir=./help

; Window placements & options (hidden|minimized|modal|no-hide|raised)
; Size of -1 will avoid resizing the window and let GTK size it
ui.fm-mode=-1,-1@1531,51|raised|modal
ui.main=952,769@964,307|raised
ui.editcfg=640,925@1,151|raised|modal
ui.userlist=212,201@1299,51
ui.serverpick=418,244@674,447

# Length of time to block CAT updates (in seconds) after a local state change
cat.poll-blocking=1

[server:localhost]
server.enabled=true
server.url=ws://127.0.0.1:8420/ws/
server.user=admin
server.pass=password

[server:localhost-https]
server.enabled=true
server.url=ws://127.0.0.1:8420/ws/
server.tx-url=wss://localhost:4420/ws-tx/
server.user=admin
server.pass=password
