[general]
core.daemonize=false
core.tick-interval=100
; used for test-server.sh to know which rigctld to start
rigctld.start-script=tools/dummy-rigctld.sh
# If enabled, we will allow autospawning fwdsp instances which transcode between codecs; see *.tt in pipelines section below for pipelines
codecs.allow-transcoding=true
codecs.allowed=pc16 mu16 mu08 opus flac
# Transcoding video could get very CPU heavy quickly
codecs.allow-transcoding.video=false
codecs.allowed.video=h264 vp8 vp9
; How often to poll the rig in ms
backend.poll-interval=250
;backend.active=internal
backend.active=hamlib
; Poll rig every 1000ms
backend.poll-interval=1000
; Only send a full rig state update every X seconds
backend.announce-interval=30
backend.hamlib=true
backend.hamlib-debug=warn
backend.hamlib-model=2
;backend.hamlib-baud=38400
backend.hamlib-port=127.0.0.1:4532
debug.noisy_eeprom=true
; Log chat messages in sqlite3?
chat.log=true
; If logging is enabled, should we replay a bit of history when the user joins?
chat.replay-lines=20
; How long should we let unused fwdsp instances linger before stopping?/
fwdsp.hangtime=30
debug.show-ts=true
debug.mongoose=false
debug.profiling=true
#eeprom.addr=0x0000
#eeprom.size=1048576
#eeprom.type=mmap
#eeprom.readonly=false
features.auto-block-ptt=false
#interface.amp.port=
#interface.pipe.enabled=true
#interface.cat.enabled=true
;log.level=*:info,ws:crazy,ws.*:crazy,http.*:crazy,event:crazy,http.client:info,http.req:info,librrprotocol.*:crazy
log.level=*:info,ws.msg.*:crazy,event:info
log.file=rrserver.log
net.http.enabled=true
net.http.bind=0.0.0.0
net.http.port=8420
net.http.authdb-dynamic=false
net.http.tls-enabled=false
net.http.tls-bind=0.0.0.0
net.http.tls-port=4420
net.mqtt.enabled=true
net.mqtt.bind=0.0.0.0
net.mqtt.port=8833
net.mqtt-client.enabled=false
net.mqtt-client.server=10.217.1.219
net.mqtt-client.port=8833
net.mqtt-client.user=rustyrig-ft891
net.mqtt-client.secret-file=./config/mqtt-secret
owner.call=N0CALL
owner.privs=US/General
pin.show=true
pin.master=012345
pin.reset=76543210
station.call=N0CALL
station.grid=AA00aa

; Paths for various things; keys should be unified to path.* ASAP
path.db.master=./db/master.db
path.db.master.template=./sql/sqlite.master.sql
path.pid-file=./run/rrserver.pid
path.modules=./modules
net.http.authdb=./config/http.users
#interface.pipe=/tmp/rustyrig.amp.sock
#interface.cat.port=pipe:/tmp/rustyrig.cat.sock
net.http.404-path=./www/404.shtml
net.http.tls-cert=./config/cert.pem
net.http.tls-key=./config/key.pem
net.mqtt-client.secret-file=./config/mqtt-cli.secret
net.http.ua-bans=./config/ua-bans.txt
net.http.www-root=./www
net.http.hex-dump=false
path.sock-dir=./run/rrserver
path.record-dir=./recordings
# fwdsp binary
;path.fwdsp=/usr/local/bin/fwdsp
path.fwdsp=./bin/fwdsp

# modules directory (NYI)
;path.mod-dir=/usr/lib/modules/rustyrig/rrserver/
path.mod-dir=./modules/rrserver/

[fwdsp]
; Don't allow more than 24 subprocs
subproc.max=24
subproc.debug=false
audio.debug=false
log.level=debug
log.show-ts=false

