Package: librrprotocol-dbgsym
Source: rustyrig-fw
Version: 20260920.03
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Pripyat Automations <dangerousdevices@istabpeople.com>
Installed-Size: 117
Depends: librrprotocol (= 20260920.03)
Section: debug
Priority: optional
Description: debug symbols for librrprotocol
Build-Ids: 1c015792590b4b6f1baa945fb8be14f9dcc131c1
