Package: librrprotocol-dbgsym
Source: rustyrig-fw
Version: 20260920.04
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Pripyat Automations <dangerousdevices@istabpeople.com>
Installed-Size: 120
Depends: librrprotocol (= 20260920.04)
Section: debug
Priority: optional
Description: debug symbols for librrprotocol
Build-Ids: badb82b5ef55aec9d3c0b57427ef556ae639557f
