Package: librrprotocol-dbgsym
Source: rustyrig-fw
Version: 20260920.05
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Pripyat Automations <dangerousdevices@istabpeople.com>
Installed-Size: 120
Depends: librrprotocol (= 20260920.05)
Section: debug
Priority: optional
Description: debug symbols for librrprotocol
Build-Ids: d62c00c5ab1dc718f0ea191ac8bb10dd5b4994f1
