{
   "device": {
       "serial": "000001",
       "hwversion": 1
   },
   "build": {
       "cflags": "-fPIC -pthread",
       "ldflags": "-lgpiod -pthread",
       "platform": "posix",
       "toolchain": {
           "prefix": ""
       }
   },
   "eeprom": {
       "addr": "0x0000",
       "size": 16384,
       "type": "mmap"
   },
   "i2c": {
        "myaddr": "0xa0"
   },
   "features": {
        "cat-kpa500": 1,
        "cat-yaesu": 1,
        "max-bands": 14
   },
   "station": {
       "call": "N0CALL",
       "grid": "AA00aa"
   },
   "owner": {
       "call": "N0CALL",
       "privs": "US/General"
   },
   "pin": {
       "master": "012345",
       "reset": "543210"
   },
   "net": {
       "ip": "10.201.1.100",
       "gw": "10.201.1.1",
       "mask": "255.255.255.0",
       "dns1": "10.201.1.1",
       "dns2": "1.1.1.1",
       "vlan": 1538
   },
   "rfdecks": {
       "lowband": {
           "bands": [ "160M", "80M", "60M", "40", "30M", "20M", "17M", "15M", "12M", "10M" ],
           "minpower": "5W",
           "maxpower": "1200W",
           "powerstep": 10
       },
       "highband": {
           "bands": [ "6M", "2M", "1.25M", "70CM" ],
           "minpower": "5W",
           "maxpower": "1000W",
           "powerstep": 10
       }
   }
}
