Package: librrprotocol
Source: rustyrig-fw
Version: 20260921.03
Architecture: amd64
Maintainer: Pripyat Automations <dangerousdevices@istabpeople.com>
Installed-Size: 143
Depends: librustyaxe (= 20260921.03), libc6 (>= 2.38)
Section: hamradio
Priority: optional
Homepage: https://github.com/PripyatAutomations/rustyrig-fw
Description: RustyRig protocol shared library
 WebSocket, media, chat, and rig-control protocol implementation.
