Package: rustyrig-server-dbgsym
Source: rustyrig-fw
Version: 20260920.03
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Pripyat Automations <dangerousdevices@istabpeople.com>
Installed-Size: 143
Depends: rustyrig-server (= 20260920.03)
Section: debug
Priority: optional
Description: debug symbols for rustyrig-server
Build-Ids: b656f5bb6628a22e0b0da24929dfaa262157e567
