Package: rustyrig-server-dbgsym
Source: rustyrig-fw
Version: 20260920.05
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Pripyat Automations <dangerousdevices@istabpeople.com>
Installed-Size: 143
Depends: rustyrig-server (= 20260920.05)
Section: debug
Priority: optional
Description: debug symbols for rustyrig-server
Build-Ids: 18b1d2f82d20a229bce8fda415be4677258f8d26
