Package: rustyrig-callsign-lookup-dbgsym
Source: rustyrig-fw
Version: 20260920.05
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Pripyat Automations <dangerousdevices@istabpeople.com>
Installed-Size: 752
Depends: rustyrig-callsign-lookup (= 20260920.05)
Section: debug
Priority: optional
Description: debug symbols for rustyrig-callsign-lookup
Build-Ids: db8b0e75f0fe1d22ac37e43390839962a2107557
