Package: rrserver-gpsd
Source: rustyrig-fw
Version: 20261004.01
Architecture: amd64
Maintainer: Pripyat Automations <dangerousdevices@istabpeople.com>
Installed-Size: 35
Depends: rustyrig-server (= 20261004.01), libc6 (>= 2.4), librustyaxe (>= 20261004.01)
Section: hamradio
Priority: optional
Homepage: https://github.com/PripyatAutomations/rustyrig-fw
Description: GPSD receiver module for RustyRig server
 Optional GPSD connection for station and rig coordinates, installed in
 /usr/lib/rustyrig/modules/rrserver. Enable rrserver-gpsd in [modules].
