Package: rustyrig-fwdsp
Source: rustyrig-fw
Version: 20260921.05
Architecture: amd64
Maintainer: Pripyat Automations <dangerousdevices@istabpeople.com>
Installed-Size: 62
Depends: libfwdspmgr (= 20260921.05), librustyaxe (= 20260921.05), gstreamer1.0-tools, gstreamer1.0-plugins-base, gstreamer1.0-plugins-good, gstreamer1.0-pulseaudio, gstreamer1.0-plugins-bad, gstreamer1.0-plugins-rtp, libc6 (>= 2.34), libglib2.0-0t64 (>= 2.12.0), libgstreamer-plugins-base1.0-0 (>= 1.10.0), libgstreamer1.0-0 (>= 1.0.0), librrprotocol (>= 20260921.05)
Section: hamradio
Priority: optional
Homepage: https://github.com/PripyatAutomations/rustyrig-fw
Description: RustyRig audio DSP service
 GStreamer-based audio codec and pipeline service.
