{
   "device": {
       "serial": "000000"
   },
   "station": {
       "call", "N0CALL",
       "grid": "AA00aa"
   },
   "owner": {
       "call": "N0CALL",
       "privs": "US/General",
   },
   "pin": {
       "master": "654321",
       "reset": "543210"
   },
   "eeprom": {
       "addr": "0x0000",
       "size": 16384,
       "type": "mmap"
   },
   "net": {
       "ip": "10.201.1.100",
       "gw": "10.201.1.1",
       "mask": "255.255.255.0",
       "dns1": "10.201.1.1",
       "dns2": "1.1.1.1"
   }
}
