/* Disable text selection for everything by default */
* {
   user-select: none;
   -webkit-user-select: none; /* For Safari */
   -moz-user-select: none; /* For Firefox */
   -ms-user-select: none; /* For IE/Edge */
}

a, a:visited, a:active {
    color: #004fcc;
}

html, body {
   color: black;
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 20px;
   background-color: #f4f4f9;
   height: calc(100vh - 1px);
   width: calc(100vw - 1px);
   overflow: hidden; /* Prevents scrolling if needed */
}

.red {
   color: red;
}

#tbl-login {
   background: #f0c0c0;
   border: 2px solid #c0c0c0;
   border-radius: 10px;
   padding: 0.75em 1em 0.5em 1em;
   position: relative;
   left: 0px;
   height: 99.9%;
   width: 33%;
}

#tbl-login h3 {
   padding: 0px;
   padding-bottom: 0.5em;
   margin: 0px;
   text-align: center;
}

#login-btn-box {
   position: relative;
   padding: 0px;
   padding-top: 0.5em;
   top: 0px;
   left: 25%;
   width: 100%;
}

#win-login {
   position: absolute;
   top: 33%;
   left: 33%;
   height: 99.9%;
   width: 99.9%;
}

#sub-login-error {
   display: none;
   border: 2px solid red;
   background: DarkRed;
   position: fixed;
   padding: 1em;
   font-size: 1.5em;
   color: white;
   height: 5em;
   width: 24em;
   top: CALC(50% - 5em);
   left: CALC(50% - 12em);
   z-index: 100000;
}

#sub-login-error-msg {
   word-wrap: break-word;  /* Ensures long words break */
   overflow-wrap: break-word; /* Modern equivalent */
   white-space: normal;  /* Allows text to wrap */
}

#login-err-ok {
   border: 2px solid IndianRed;
   border-radius: 10px;
   background: #f00000;
   color: white;
   padding: 0.5e 1em 0.5em 1em;
   margin-top: 1em;
   font-size: 1em;
   font-weight: bold;
}

#win-chat {
   display: none;
   position: fixed;
   top: CALC(3em + 5px);
   left: 0px;
   width: 100%;
   user-select: text;
   -webkit-user-select: text;
   -moz-user-select: text;
   -ms-user-select: text;
}

#chat-box {
   position: fixed;
   top: 3.5em;
   left: 0px;
   overflow-y: auto;
   padding: 10px;
   border: 2px solid #ddd;
   border-radius: 10px;
   background-color: #fff;
   width: CALC(100% - 12em);
   height: CALC(100% - 9.5em);
   margin-left: 0.1em;
   margin-bottom: 10px;
}

input {
   border: 1px solid #c0c0c0;
   border-radius: 10px;
   font-size: 18px;
   padding-left: 0.5em;
   padding-right: 0.5em;
}

#chat-input {
   position: fixed;
   bottom: 0.5em;
   left: 0px;
   height: 2.5em;
   font-size: 14px;
   margin-left: 0.5em;
   width: CALC(100% - 20em);
   padding: 10px;
   border-radius: 5px;
   border: 2px solid #ccc;
}

#chat-user-list {
   position: fixed;
   left: CALC(100% - 10.4em);
   top: 3.5em;
   width: 10em;
   height: CALC(100% - 8.8em + 1px);
   border: 2px solid #ddd;
   border-radius: 10px;
   padding-top: 0.5em;
   background-color: #fff;
}

.cul-item {
}

#chat-user-list ul {
   list-style: none;
   padding-top: 5px;
   padding-left: 1.5em;
   margin-top: 0px;
}

#chat-user-list li {
   padding-top: 0px;
   margin-top: 0px;
}

#chat-user-list h3 {
   font-size: 1em;
   text-decoration: underline;
   padding: 0px;
   margin: 0px;
   margin-top: 0.2em;
   margin-left: 1em;
}


#chat-user-list a, #chat-user-list a:visited, #chat-user-ligt a:active {
   color: green;
   text-decoration: none;
}

.cul-self, .cul-self a, .cul-self a:visited, .cul-self a:active {
   color: red;
}

#user-menu {
   display: none;
   color: black;
   background: #fff0f0;
   position: fixed;
   left: CALC(100% - 15em);
   top: 4.5em;
   margin-left: 0.1em;
   padding-left: 0.7em;
   width: 8em;
   height: 11.5em;
   border: 2px solid #c0c0c0;
   border-radius: 10px;
   z-index: 1000;
}

#user-menu ul {
   color: black;
   margin-top: 0em;
   padding-left: 15px;
   padding-top: 0.2em;
}

#user-menu li {
}

#um-close {
   position: absolute;
   color: red;
   text-decoration: none;
   font-size: 20px;
   top: -1px;
   right: -8px;
   height: 32px;
   width: 32px;
}

/* General button styles to ensure equal height */
button {
   padding: 10px 15px; /* Same padding for both buttons */
   font-size: 16px; /* Larger text */
   border-radius: 5px;
   border: none;
   cursor: pointer;
}

#clear-btn, #send-btn, .login-btn {
   padding-top: 0.2em;
   padding-bottom: 0.2em;
   margin-top: 0em;
   margin-bottom: 0em;
   height: 3em;
}


/* Clear button */
.red-btn {
   background-color: #a31c1c; /* Muted red */
   color: #fff;
}

.red-btn:hover {
   border: 2px solid #cc0000;
   background-color: #821212; /* Darker red for hover */
}

/* Send button */
.green-btn {
   border: 2px solid #00c000;
   background-color: #28a745; /* Green for send */
   color: #fff;
}

.green-btn:hover {
   border: 2px solid #00c000;
   background-color: #218838; /* Darker green for hover */
}

/* Chat message styles */
.chat-msg {
   color: black;
   font-size: 16px;
}

.chat-my-msg {
   color: #0a0a0a;
   font-size: 16px;
}

.chat-msg-prefix {
   color: #c00303;
   font-size: 16px;
}

.chat-my-msg-prefix {
   color: #03ac03;
   font-size: 16px;
}

.chat-status {
   font-size: 16px;
   color: green;
   margin: 5px 0;
}

.error {
   font-size: 16px;
   color: red;
   margin: 5px 0;
}

.msg-connected {
   font-size: 24px;
   color: DarkGreen;
   margin: 5px 0;
}

div#button-box {
   position: fixed;
   right: 0.2em;
   bottom: 0.3em;
   border: 2px solid red;
   border-radius: 10px;
   height: 3.3em;
   padding: 0.3em;
   padding-bottom: 0.1em;
   background: #eeeeee;
   margin-top: 1em;
   width: 14em;
   border: 2px solid #c0c0c0;
}

/* Sounds checkbox */
#bell-btn {
   padding-top: 0em;
   padding-bottom: 0.3em;
   margin: 0em;
   position: relative;
   top: -0.5em;
   right: 0px;
   margin-left: 0px;
   cursor: pointer;
   height: 3em;
   width: 4.1em;
}

#bell-image {
   object-fit: contain;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0px;
   left: 0px;
}

#bell-image:hover { }

span#alert-vol { }

#clear-btn, #send-btn {
   height: 3em;
}

input[type="range"]#alert-vol {
   -webkit-appearance: none;
   background: #80a080;
   display: none;
   position: fixed;
   width: 1em;
   height: 10em; /* Height of the vertical range slider */
   bottom: 3.2em;
   right: 1.7em;
}

input[type="range"]#alert-vol::-webkit-slider-runnable-track {
   height: 100%;
}

input[type="range"]#alert-vol::-webkit-slider-thumb {
   width: 1em;
   height: 1em;
   background: #000;
   border-radius: 50%;
   cursor: pointer;
}

div#tabstrip {
   display: none;
   border: 2px solid #c0c0c0;
   border-radius: 10px;
   background: #cfcfcf;
   width: CALC(100% - 3px);
   height: 3em;
   position: fixed;
   top: 0px;
   left: 0px;
   padding: 0px;
   margin: 0px;
}

span#menu-tabs {
   position: relative;
   left: 0px;
   top: 0.0em;
}

span.menu-tab {
   position: relative;
   left: 0em;
   top: 0.4em;
   border-radius: 10px;
   border: 2px solid #0a0a0a;
   background: #c0c0c0;
   color: black;
   font-size: 1.5em;
   font-weight: bold;
   height: 2.7em;
   width: 4em;
   margin-left: 0.25em;
   margin-right: 0.25em;
   padding: 0.3em;
   padding-left: 1em;
   padding-right: 1em;
}

span.menu-tab:hover {
   background: #9f9f9f;
   color: white;
}

.chat-highlight {
   background-color: yellow;
   font-weight: bold;
}
