/* Scale the content to always fit the viewport */
html {
    transform-origin: top left;
    transform: scale(1);
    height: 100vh;
    width: 100vw;
}

/* Disable text selection for everything by default */
* {
   user-select: none;
   -webkit-user-select: none; /* For Safari */
   -moz-user-select: none; /* For Firefox */
   -ms-user-select: none; /* For IE/Edge */
   /* Optional: Ensure all child elements respect the scaling */
/*    box-sizing: border-box; */
}


/*
 * Fonts
 */
@font-face {
   font-family: 'Roboto';
   src: url('../fonts/Roboto-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'OpenSans';
   src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

a, a:visited, a:active {
    color: #004fcc;
}

html, body {
   color: black;
   font-family: 'Roboto', 'OpenSans';
   margin: 0;
   padding: 20px;
   background-color: #dcdcdc;
   height: calc(100vh - 1px);
   width: calc(100vw - 1px);
   overflow: hidden;
}

input {
   border: 1px solid #c0c0c0;
   border-radius: 10px;
   font-size: 18px;
   padding-left: 0.5em;
   padding-right: 0.5em;
}

/* General button styles to ensure equal height */
button {
   padding: 10px 15px;
   font-size: 16px;
   border-radius: 5px;
   border: none;
   cursor: pointer;
}

.red {
   color: red;
}

/* Clear button */
.red-btn {
   background-color: #a31c1c; /* Muted red */
   color: #fff;
}

.red-btn:hover {
   border: 2px solid #cc0000;
   background-color: #821212; /* Darker red for hover */
}

/* Send button */
.green-btn {
   border: 2px solid #00c000;
   background-color: #28a745; /* Green for send */
   color: #fff;
}

.green-btn:hover {
   border: 2px solid #00c000;
   background-color: #218838; /* Darker green for hover */
}

.error {
   font-size: 16px;
   color: red;
   margin: 5px 0;
}

.msg-connected {
   font-size: 16px;
   color: DarkGreen;
   margin: 5px 0;
}

#tbl-login {
   background: #f0c0c0;
   border: 2px solid #c0c0c0;
   border-radius: 10px;
   padding: 0.75em 1em 0.5em 1em;
   position: relative;
   left: 0px;
   height: 99.9%;
   width: 33%;
}

#tbl-login h3 {
   padding: 0px;
   padding-bottom: 0.5em;
   margin: 0px;
   text-align: center;
}

#login-btn-box {
   position: relative;
   padding: 0px;
   padding-top: 0.5em;
   top: 0px;
   left: 25%;
   width: 100%;
}

#win-login {
   position: absolute;
   top: 33%;
   left: 33%;
   height: 99.9%;
   width: 99.9%;
}

#sub-login-error {
   display: none;
   border: 2px solid red;
   background: DarkRed;
   position: fixed;
   padding: 1em;
   font-size: 1.5em;
   color: white;
   height: 5em;
   width: 24em;
   top: CALC(50% - 5em);
   left: CALC(50% - 12em);
   z-index: 100000;
}

#sub-login-error-msg {
   word-wrap: break-word;
   overflow-wrap: break-word;
   white-space: normal;
}

#login-err-ok {
   border: 2px solid IndianRed;
   border-radius: 10px;
   background: #f00000;
   color: white;
   padding: 0.5e 1em 0.5em 1em;
   margin-top: 1em;
   font-size: 1em;
   font-weight: bold;
}

#win-syslog {
   display: none;
   border: 2px solid green;
   border-radius: 10px;
   position: fixed;
   top: 3.7em;
   height: CALC(100% - 7em);
   left: 0px;
   width: CALC(100% - 3em);
   user-select: text;
   -webkit-user-select: text;
   -moz-user-select: text;
   -ms-user-select: text;
}

#win-config {
   display: none;
   border: 2px solid #0000ff;
   border-radius: 10px;
   position: fixed;
   top: 3.7em;
   height: CALC(100% - 7em);
   left: 0px;
   width: CALC(100% - 3em);
   user-select: text;
   -webkit-user-select: text;
   -moz-user-select: text;
   -ms-user-select: text;
}

div#tabstrip {
   display: none;
   border: 2px solid #c0c0c0;
   border-radius: 10px;
   background: #cfcfcf;
   width: CALC(100% - 2.5em - 3px);
   height: 3.2em;
   position: fixed;
   top: 0px;
   left: 0px;
   padding: 0px;
   margin: 0px;
}

span#menu-tabs {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   position: relative;
   margin-top: 0.8em;
   top: 0;
   left: 0;
   height: 1.8em;
}

#tab-dark {
   margin-left: auto;
}

span.menu-tab {
   border-radius: 10px;
   border: 2px solid #0a0a0a;
   background: #c0c0c0;
   color: black;
   font-size: 1.2em;
   font-weight: bold;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 0.25em;
   margin-left: 0.25em;
   height: 2.5em;
   line-height: 1.3em;
   top: 0;
   padding: 0 1em;     /* x padding only */
}

span.menu-tab:hover {
   background: #9f9f9f;
   color: white;
}
