/*
 * Stuff for small screened devices
 */
@media (max-width: 768px) {
   html {
      transform: scale(calc(100vw / 768)); /* Dynamically scale based on viewport width */
   }

   #tab-strip {
      display: flex;
      height: 1.5em;
   }

   span#menu-tabs {
      top: 0;
      left: 0;
   }

   span.menu-tab {
      border: 2px solid #0a0a0a;
      background: #c0c0c0;
      color: black;
      font-size: 1em;
      font-weight: bold;
      height: 2em;
      line-height: 1.3em;
      top: 0;
      padding-left: 0.5em;
      padding-right: 0.5em;
   }

   span.menu-tab:hover {
   }

   #tbl-login {
      height: 100%;
      padding: 2em;
      width: 100%;
   }

   #win-login {
      position: absolute;
      top: 1.5em;
      left: 1.5em;
      height: 100%;
      width: CALC(100% - 6em);
   }

   #chat-input {
      bottom: 7.5em;
      width: CALC(100% - 5.5em);
   }

   div#button-box {
      text-align: center;
      left: 0px;
      bottom: 2.8em;
   }

   #chat-whois {
      top: 0px;
      left: 0px;
      padding: 1.5em;
      border: 1px solid MidnightBlue;
      border-radius: 10px;
      height: CALC(100% - 6em);
      width: CALC(100% - 5.8em);
   }

   #chat-container {
      height: CALC(100vh - 0.8em);
   }

   #chat-user-list {
      height: auto;
      width: auto; /* let user resize */
      height: CALC(100% - 14.5em);
   }

   #chat-box {
      height: CALC(100% - 15.8em);
      width: calc(100% - var(--user-list-width, 14.2em));
   }

   div#sub-login-error {
      top: 1em;
      left: 1em;
      height: CALC(100vh - 5em);
      width: CALC(100% - 6em);
   }

   span#sub-login-error-msg {
      position: absolute;
      top: 33%;
      left: 33%;
      height: 66%;
      width: 66%;
   }

   #login-err-ok {
   }

   #upload-btn, #clear-btn, #send-btn, #emoji-btn, #bell-btn {
      padding-left: 1em;
      padding-right: 1em;
      margin-left: 0.5em;
      margin-right: 0.5em;
   }
}
