Package: rustyrig-fwdsp-dbgsym
Source: rustyrig-fw
Version: 20260920.04
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Pripyat Automations <dangerousdevices@istabpeople.com>
Installed-Size: 73
Depends: rustyrig-fwdsp (= 20260920.04)
Section: debug
Priority: optional
Description: debug symbols for rustyrig-fwdsp
Build-Ids: c7a61f877e4ccbf08c27c32a7c6226340775fea3
